header {
    background: linear-gradient(135deg, #0a0e16 0%, #000000 100%) fixed;
    border-bottom: 1px #a7a7a7 solid;
    display: flex;
    justify-content: center;
}

.pesquisar-bot-form {
    display: flex;
    align-items: center;
    background-color: #0a0e16;
    border: rgb(139, 139, 139) solid 2px;
    padding: 9px;
    margin-top: 9px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 55px;
    width: 100%;
    max-width: 600px;
    transition: all 500ms;
}

input[type='text'] {
    outline: none;
    background-color: #0a0e16;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
}

.pesquisar-bot-form:focus-within {
    border: rgb(76, 96, 172) solid 2px;
    transition: all 500ms;
}

strong {
    color: #6565cf
}

@media (max-width: 460px) {
    header {
        flex-wrap: wrap;
    }
}