@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #292929;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #355875;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #377fbb;
}

body {
    background: linear-gradient(135deg, #121721 0%, #000000 100%) fixed;
}

.card-bc {
    background: linear-gradient(#313131, #313131) padding-box,
        linear-gradient(to right, #1b2332, #2d3a53) border-box;
}
